{{ define "modal-seguidores"}}
<div class="modal fade" tabindex="-1" aria-labelledby="modal-seguidoresLabel" aria-hidden="true" id="modal-seguidores">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Seguidores</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ range .Seguidores }}
                    <a href="/usuario/{{ .ID }}">{{ .Nick }}</a><br>
                {{ else }}
                <p class="text-muted text-center">
                    Este usuário não segue ninguém
                </p>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{end}}