<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de usuário</title>
    {{template "base_header"}}
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
    <script src="/assets/js/cadastro-usuario.js" defer></script> 
</head>
<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="formulario-cadastro">
                <span>Crie a sua conta</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite seu o seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite seu apelido" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite seu e-mail" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha" placeholder="Confirme a sua senha" required="required">
                </div>
                <a href="/">Clique aqui para voltar a página de login</a>
                <button type="submit" class="btn-devbook">Cadastrar</button>
            </form>
        </div>
    </div>
</body>
</html>